
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

#content-container { display: block; position: relative; width: 1080px;  margin-left: auto; margin-right: auto;  }

#_bg__desktop___1 {
	top: 0px;
	left: 0px;
	width: 1080px;
	height: 3600px;
	background:rgba(219.62,223.9,225.25,0.93);
}


#rect_12 {
	opacity:0.9200000166893;
	top: 3535px;
	left: 0px;
	width: 1080px;
	height: 65px;
	background:rgba(255,255,255,0.92);
}


#rect_10 {
	opacity:0.85000002384186;
	top: 3156px;
	left: 8px;
	width: 1080px;
	height: 324px;
	background:rgba(255,255,255,0.85);
}


#rect_11 {
	top: 3412px;
	left: 68px;
	width: 226px;
	height: 55px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(39,41,89,1);
}


#rect_9 {
	opacity:0.9200000166893;
	top: 2480px;
	left: 0px;
	width: 1080px;
	height: 570px;
	background:rgba(255,255,255,0.92);
}


#rect_8 {
	opacity:0.68999999761581;
	top: 2400px;
	left: 1px;
	width: 1080px;
	height: 30px;
	background:rgba(255,255,255,0.69);
}


#rect_7 {
	top: 2062px;
	left: 0px;
	width: 1080px;
	height: 337px;
}


#rect_6 {
	opacity:0.68999999761581;
	top: 2032px;
	left: 1px;
	width: 1080px;
	height: 30px;
	background:rgba(255,255,255,0.69);
}


#rect_5 {
	top: 658px;
	left: 0px;
	width: 1080px;
	height: 80px;
	background:rgba(255,255,255,1);
}


#rect_3 {
	top: 111px;
	left: 0px;
	width: 1080px;
	height: 550px;
}


#rect_4 {
	top: 182px;
	left: 176px;
	width: 737px;
	height: 404px;
}


#rect_1 {
	top: 0px;
	left: 0px;
	width: 1080px;
	height: 111px;
	background:rgba(255,255,255,1);
}


#rect_2 {
	opacity:0.94999998807907;
	top: 39px;
	left: 928px;
	width: 107px;
	height: 32px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(0,0,0,0.95);
}


#img_r_37 {
	top: 3318px;
	left: 863px;
	width: 110px;
	height: 110px;
}


#img_r_36 {
	top: 3318px;
	left: 732px;
	width: 110px;
	height: 110px;
}


#img_r_35 {
	top: 3330px;
	left: 611px;
	width: 110px;
	height: 110px;
}


#img_r_34 {
	top: 3330px;
	left: 485px;
	width: 110px;
	height: 110px;
}


#img_r_33 {
	top: 3330px;
	left: 354px;
	width: 110px;
	height: 110px;
}


#img_r_31 {
	top: 3183px;
	left: 737px;
	width: 110px;
	height: 110px;
}


#img_r_30 {
	top: 3183px;
	left: 611px;
	width: 110px;
	height: 110px;
}


#img_r_32 {
	top: 3183px;
	left: 863px;
	width: 110px;
	height: 110px;
}


#img_r_29 {
	top: 3183px;
	left: 485px;
	width: 110px;
	height: 110px;
}


#img_r_28 {
	top: 3183px;
	left: 354px;
	width: 110px;
	height: 110px;
}


#img_r_27 {
	top: 2816px;
	left: 787px;
	width: 130px;
	height: 140px;
}


#img_r_26 {
	top: 2816px;
	left: 563px;
	width: 130px;
	height: 140px;
}


#img_r_25 {
	top: 2816px;
	left: 339px;
	width: 130px;
	height: 140px;
}


#img_r_24 {
	top: 2816px;
	left: 110px;
	width: 130px;
	height: 140px;
}


#img_r_23 {
	top: 2598px;
	left: 788px;
	width: 130px;
	height: 140px;
}


#img_r_22 {
	top: 2598px;
	left: 565px;
	width: 130px;
	height: 140px;
}


#img_r_21 {
	top: 2598px;
	left: 337px;
	width: 130px;
	height: 140px;
}


#img_r_20 {
	top: 2598px;
	left: 110px;
	width: 130px;
	height: 140px;
}


#img_w_19 {
	top: 2156px;
	left: 700px;
	width: 270px;
	height: 150px;
}


#img_w_18 {
	top: 2156px;
	left: 406px;
	width: 270px;
	height: 150px;
}


#img_w_17 {
	top: 2156px;
	left: 107px;
	width: 270px;
	height: 150px;
}


#img_r_16 {
	top: 1741px;
	left: 838px;
	width: 132px;
	height: 180px;
}


#img_w_15 {
	top: 1739px;
	left: 475px;
	width: 320px;
	height: 180px;
}


#img_r_14 {
	top: 1741px;
	left: 298px;
	width: 132px;
	height: 180px;
}


#img_r_13 {
	top: 1739px;
	left: 110px;
	width: 132px;
	height: 180px;
}


#img_w_12 {
	top: 1401px;
	left: 650px;
	width: 320px;
	height: 180px;
}


#img_r_11 {
	top: 1401px;
	left: 475px;
	width: 132px;
	height: 180px;
}


#img_r_10 {
	top: 1401px;
	left: 298px;
	width: 132px;
	height: 180px;
}


#img_r_9 {
	top: 1401px;
	left: 110px;
	width: 132px;
	height: 180px;
}


#img_r_8 {
	top: 1069px;
	left: 838px;
	width: 132px;
	height: 180px;
}


#img_r_7 {
	top: 1069px;
	left: 650px;
	width: 132px;
	height: 180px;
}


#img_r_6 {
	top: 1069px;
	left: 475px;
	width: 132px;
	height: 180px;
}


#img_w_5 {
	top: 1069px;
	left: 110px;
	width: 320px;
	height: 180px;
}


#img_w_4 {
	top: 821px;
	left: 650px;
	width: 320px;
	height: 180px;
}


#img_r_3 {
	top: 821px;
	left: 475px;
	width: 132px;
	height: 180px;
}


#img_r_2 {
	top: 821px;
	left: 298px;
	width: 132px;
	height: 180px;
}


#img_r_1 {
	top: 821px;
	left: 110px;
	width: 132px;
	height: 180px;
}


#ellipse_3 {
	top: 3183px;
	left: 85px;
	width: 180px;
	height: 179px;
}


#ellipse_2 {
	top: 39px;
	left: 877px;
	width: 32px;
	height: 32px;
}


#ellipse_1 {
	top: 25px;
	left: 46px;
	width: 60px;
	height: 60px;
}


#find_out_more__ {
	top: 3428px;
	left: 97px;
	width: 181px;
	height: 40px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 24px;
	text-align: center;
	color:#FFFFFF;
}


#explore__ {
	top: 2524px;
	left: 107px;
	width: 204px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: left;
	color:#000000;
}


#movies__ {
	top: 2094px;
	left: 133px;
	width: 206px;
	height: 47px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	text-shadow: 0 0 2px #000000;
	color:#000000;
}


#geners__ {
	top: 1686px;
	left: 110px;
	width: 204px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: left;
	color:#000000;
}


#new__ {
	top: 1348px;
	left: 110px;
	width: 204px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: left;
	color:#000000;
}


#popular_this_week__ {
	top: 777px;
	left: 110px;
	width: 204px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: left;
	color:#000000;
}


#explore {
	top: 683px;
	left: 803px;
	width: 116px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: center;
	color:#000000;
}


#movies {
	top: 683px;
	left: 639px;
	width: 116px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: center;
	color:#000000;
}


#geners {
	top: 683px;
	left: 471px;
	width: 116px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: center;
	color:#000000;
}


#new {
	top: 683px;
	left: 304px;
	width: 116px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: center;
	color:#000000;
}


#trending {
	top: 683px;
	left: 138px;
	width: 116px;
	height: 45px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: center;
	color:#000000;
}


#log_in {
	top: 39px;
	left: 938px;
	width: 95px;
	height: 47px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: center;
	color:#FFFFFF;
}


#top_anime {
	top: 43px;
	left: 220px;
	width: 178px;
	height: 39px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: center;
	-ms-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-o-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#anime_club {
	top: 43px;
	left: 91px;
	width: 178px;
	height: 39px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 22px;
	text-align: center;
	-ms-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-o-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#anime_club_created_by_herobrine25mcpe {
	top: 3555px;
	left: -3px;
	width: 1094px;
	height: 38px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 18px;
	text-align: center;
	color:#000000;
}


/*

this is for 16:9 phone factors

*/

@media only screen and (max-width:428px){

#_bg__phone {
	top: 0px;
	left: 0px;
	width: 411px;
	height: 1740px;
	background:rgba(220,224,225,1);
}


#rect_12 {
	opacity:0.9200000166893;
	top: 1698px;
	left: 0px;
	width: 411px;
	height: 31px;
	background:rgba(255,255,255,0.92);
}


#rect_10 {
	opacity:0.85000002384186;
	top: 1504px;
	left: 0px;
	width: 411px;
	height: 166px;
	background:rgba(255,255,255,0.85);
}


#rect_11 {
	top: 1627px;
	left: 21px;
	width: 97px;
	height: 21px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(39,41,89,1);
}


#rect_9 {
	opacity:0.9200000166893;
	top: 1203px;
	left: 0px;
	width: 411px;
	height: 253px;
	background:rgba(255,255,255,0.92);
}


#rect_8 {
	opacity:0.68999999761581;
	top: 1161px;
	left: 2px;
	width: 409px;
	height: 15px;
	background:rgba(255,255,255,0.69);
}


#rect_7 {
	top: 991px;
	left: 2px;
	width: 409px;
	height: 170px;
}


#rect_6 {
	opacity:0.68999999761581;
	top: 975px;
	left: 0px;
	width: 411px;
	height: 15px;
	background:rgba(255,255,255,0.69);
}


#rect_5 {
	top: 200px;
	left: 0px;
	width: 411px;
	height: 30px;
	background:rgba(255,255,255,1);
}


#rect_3 {
	top: 33px;
	left: 0px;
	width: 411px;
	height: 167px;
}


#rect_4 {
	top: 47px;
	left: 81px;
	width: 247px;
	height: 138px;
}


#rect_1 {
	top: 0px;
	left: 0px;
	width: 411px;
	height: 33px;
	background:rgba(255,255,255,1);
}


#rect_2 {
	opacity:0.94999998807907;
	top: 9px;
	left: 348px;
	width: 44px;
	height: 14px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(0,0,0,0.95);
}


#img_r_35 {
	top: 1587px;
	left: 337px;
	width: 55px;
	height: 55px;
}


#img_r_34 {
	top: 1587px;
	left: 272px;
	width: 55px;
	height: 55px;
}


#img_r_33 {
	top: 1587px;
	left: 206px;
	width: 55px;
	height: 55px;
}


#img_r_32 {
	top: 1587px;
	left: 140px;
	width: 55px;
	height: 55px;
}


#img_r_31 {
	top: 1519px;
	left: 337px;
	width: 55px;
	height: 55px;
}


#img_r_30 {
	top: 1519px;
	left: 272px;
	width: 55px;
	height: 55px;
}


#img_r_29 {
	top: 1519px;
	left: 206px;
	width: 55px;
	height: 55px;
}


#img_r_28 {
	top: 1519px;
	left: 140px;
	width: 55px;
	height: 55px;
}


#img_r_25 {
	top: 1346px;
	left: 294px;
	width: 85px;
	height: 85px;
}


#img_r_24 {
	top: 1346px;
	left: 175px;
	width: 85px;
	height: 85px;
}


#img_r_23 {
	top: 1346px;
	left: 55px;
	width: 85px;
	height: 85px;
}


#img_r_22 {
	top: 1238px;
	left: 294px;
	width: 85px;
	height: 85px;
}


#img_r_21 {
	top: 1238px;
	left: 175px;
	width: 85px;
	height: 85px;
}


#img_r_20 {
	top: 1238px;
	left: 55px;
	width: 85px;
	height: 85px;
}


#img_w_18 {
	top: 1045px;
	left: 224px;
	width: 150px;
	height: 80px;
}


#img_w_17 {
	top: 1045px;
	left: 55px;
	width: 150px;
	height: 80px;
}


#img_r_16 {
	top: 805px;
	left: 279px;
	width: 95px;
	height: 120px;
}


#img_r_14 {
	top: 805px;
	left: 167px;
	width: 95px;
	height: 120px;
}


#img_r_13 {
	top: 805px;
	left: 55px;
	width: 95px;
	height: 120px;
}


#img_r_11 {
	top: 605px;
	left: 279px;
	width: 95px;
	height: 120px;
}


#img_r_10 {
	top: 605px;
	left: 167px;
	width: 95px;
	height: 120px;
}


#img_r_9 {
	top: 605px;
	left: 55px;
	width: 95px;
	height: 120px;
}


#img_r_6 {
	top: 426px;
	left: 279px;
	width: 95px;
	height: 120px;
}

#img_w_5 {
	display:none
}

#img_w_4 {
	top: 426px;
	left: 55px;
	width: 203px;
	height: 120px;
}


#img_r_3 {
	top: 288px;
	left: 279px;
	width: 95px;
	height: 120px;
}


#img_r_2 {
	top: 288px;
	left: 167px;
	width: 95px;
	height: 120px;
}


#img_r_1 {
	top: 288px;
	left: 55px;
	width: 95px;
	height: 120px;
}


#ellipse_3 {
	top: 1519px;
	left: 21px;
	width: 97px;
	height: 90px;
}


#ellipse_2 {
	top: 9px;
	left: 328px;
	width: 14px;
	height: 14px;
}


#ellipse_1 {
	top: 5px;
	left: 18px;
	width: 22px;
	height: 22px;
}


#find_out_more__ {
	top: 1627px;
	left: 27px;
	width: 92px;
	height: 29px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 12px;
	text-align: center;
	color:#FFFFFF;
}


#explore__ {
	top: 1203px;
	left: 42px;
	width: 199px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	color:#000000;
}


#movies__ {
	top: 1009px;
	left: 31px;
	width: 61px;
	height: 35.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	text-shadow: 0 0 2px #000000;
	color:#000000;
}


#geners__ {
	top: 757px;
	left: 29px;
	width: 199px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	color:#000000;
}


#new__ {
	top: 564px;
	left: 29px;
	width: 199px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	color:#000000;
}


#popular_this_week__ {
	top: 244px;
	left: 29px;
	width: 199px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	color:#000000;
}


#explore {
	top: 200px;
	left: 279px;
	width: 111px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#movies {
	top: 200px;
	left: 216px;
	width: 111px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#geners {
	top: 200px;
	left: 140px;
	width: 111px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#new {
	top: 200px;
	left: 72px;
	width: 111px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#trending {
	top: 200px;
	left: 5px;
	width: 111px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#log_in {
	top: 6px;
	left: 348px;
	width: 42px;
	height: 21.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#FFFFFF;
}


#top_anime {
	top: 5px;
	left: 102px;
	width: 65px;
	height: 28.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	-ms-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-o-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#anime_club {
	top: 4px;
	left: 38px;
	width: 79px;
	height: 30.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	-ms-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-o-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#anime_club_created_by_herobrine25mcpe {
	top: 1703px;
	left: -2px;
	width: 415px;
	height: 31px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	text-align: center;
	color:#000000;
}

}
/*

this is for 16:10 phone factors

*/
@media only screen and (max-width:375px){

	
#_bg__phone {
	top: 0px;
	left: 0px;
	width: 360px;
	height: 1740px;
	background:rgba(220,224,225,1);
}


#rect_12 {
	opacity:0.9200000166893;
	top: 1698px;
	left: 0px;
	width: 360px;
	height: 31px;
	background:rgba(255,255,255,0.92);
}


#rect_10 {
	opacity:0.85000002384186;
	top: 1499px;
	left: 0px;
	width: 360px;
	height: 166px;
	background:rgba(255,255,255,0.85);
}


#rect_11 {
	top: 1622px;
	left: 21px;
	width: 80px;
	height: 20px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(39,41,89,1);
}


#rect_9 {
	opacity:0.9200000166893;
	top: 1203px;
	left: 2px;
	width: 358px;
	height: 253px;
	background:rgba(255,255,255,0.92);
}


#rect_8 {
	opacity:0.68999999761581;
	top: 1161px;
	left: 2px;
	width: 358px;
	height: 15px;
	background:rgba(255,255,255,0.69);
}


#rect_7 {
	top: 991px;
	left: 2px;
	width: 358px;
	height: 170px;
}


#rect_6 {
	opacity:0.68999999761581;
	top: 975px;
	left: 0px;
	width: 360px;
	height: 15px;
	background:rgba(255,255,255,0.69);
}


#rect_5 {
	top: 200px;
	left: 0px;
	width: 360px;
	height: 30px;
	background:rgba(255,255,255,1);
}


#rect_3 {
	top: 33px;
	left: 0px;
	width: 360px;
	height: 167px;
}


#rect_4 {
	top: 47px;
	left: 44px;
	width: 247px;
	height: 138px;
}


#rect_1 {
	top: 0px;
	left: 0px;
	width: 360px;
	height: 33px;
	background:rgba(255,255,255,1);
}


#rect_2 {
	opacity:0.94999998807907;
	top: 9px;
	left: 303px;
	width: 44px;
	height: 14px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background:rgba(0,0,0,0.95);
}


#img_r_35 {
	top: 1582px;
	left: 294px;
	width: 45px;
	height: 45px;
}


#img_r_34 {
	top: 1582px;
	left: 241px;
	width: 45px;
	height: 45px;
}


#img_r_33 {
	top: 1582px;
	left: 188px;
	width: 45px;
	height: 45px;
}


#img_r_32 {
	top: 1582px;
	left: 135px;
	width: 45px;
	height: 45px;
}


#img_r_31 {
	top: 1519px;
	left: 294px;
	width: 45px;
	height: 45px;
}


#img_r_30 {
	top: 1519px;
	left: 241px;
	width: 45px;
	height: 45px;
}


#img_r_29 {
	top: 1519px;
	left: 188px;
	width: 45px;
	height: 45px;
}


#img_r_28 {
	top: 1519px;
	left: 135px;
	width: 45px;
	height: 45px;
}


#img_r_25 {
	top: 1346px;
	left: 252px;
	width: 70px;
	height: 70px;
}


#img_r_24 {
	top: 1346px;
	left: 145px;
	width: 70px;
	height: 70px;
}


#img_r_23 {
	top: 1346px;
	left: 44px;
	width: 70px;
	height: 70px;
}


#img_r_22 {
	top: 1238px;
	left: 252px;
	width: 70px;
	height: 70px;
}


#img_r_21 {
	top: 1238px;
	left: 145px;
	width: 70px;
	height: 70px;
}


#img_r_20 {
	top: 1238px;
	left: 44px;
	width: 70px;
	height: 70px;
}


#img_w_18 {
	top: 1044px;
	left: 202px;
	width: 120px;
	height: 65px;
}


#img_w_17 {
	top: 1044px;
	left: 44px;
	width: 120px;
	height: 65px;
}


#img_r_14 {
	top: 805px;
	left: 142px;
	width: 80px;
	height: 100px;
}


#img_r_13 {
	top: 805px;
	left: 44px;
	width: 80px;
	height: 100px;
}


#img_r_11 {
	top: 605px;
	left: 242px;
	width: 80px;
	height: 100px;
}


#img_r_10 {
	top: 605px;
	left: 142px;
	width: 80px;
	height: 100px;
}


#img_r_9 {
	top: 605px;
	left: 44px;
	width: 80px;
	height: 100px;
}


#img_r_6 {
	top: 416px;
	left: 242px;
	width: 80px;
	height: 100px;
}
#img_w_5 {
	display:none
}

#img_w_4 {
	top: 416px;
	left: 44px;
	width: 178px;
	height: 100px;
}


#img_r_3 {
	top: 289px;
	left: 242px;
	width: 80px;
	height: 100px;
}


#img_r_2 {
	top: 289px;
	left: 142px;
	width: 80px;
	height: 100px;
}


#img_r_1 {
	top: 289px;
	left: 44px;
	width: 80px;
	height: 100px;
}


#ellipse_3 {
	top: 1519px;
	left: 21px;
	width: 80px;
	height: 80px;
}


#ellipse_2 {
	top: 9px;
	left: 274px;
	width: 14px;
	height: 14px;
}


#ellipse_1 {
	top: 5px;
	left: 18px;
	width: 22px;
	height: 22px;
}


#find_out_more__ {
	top: 1622px;
	left: 21px;
	width: 86px;
	height: 27.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#FFFFFF;
}


#explore__ {
	top: 1203px;
	left: 42px;
	width: 199px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	color:#000000;
}


#movies__ {
	top: 1009px;
	left: 31px;
	width: 61px;
	height: 35.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
	text-shadow: 0 0 2px #000000;
	color:#000000;
}


#geners__ {
	top: 757px;
	left: 29px;
	width: 199px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	color:#000000;
}


#new__ {
	top: 564px;
	left: 29px;
	width: 199px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	color:#000000;
}


#popular_this_week__ {
	top: 244px;
	left: 29px;
	width: 199px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: left;
	color:#000000;
}


#explore {
	top: 200px;
	left: 279px;
	width: 78px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#movies {
	top: 200px;
	left: 216px;
	width: 72px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#geners {
	top: 200px;
	left: 140px;
	width: 86px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#new {
	top: 200px;
	left: 72px;
	width: 79px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#trending {
	top: 200px;
	left: 5px;
	width: 86px;
	height: 37.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#000000;
}


#log_in {
	top: 6px;
	left: 305px;
	width: 42px;
	height: 21px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	color:#FFFFFF;
}


#top_anime {
	top: 5px;
	left: 102px;
	width: 65px;
	height: 28.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	-ms-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-o-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#anime_club {
	top: 4px;
	left: 38px;
	width: 79px;
	height: 30.5px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 11px;
	text-align: center;
	-ms-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-o-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-webkit-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	-moz-text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	text-shadow:0px 4px 4px rgba(0,0,0,0.25);
	color:#000000;
}


#anime_club_created_by_herobrine25mcpe {
	top: 1703px;
	left: -2px;
	width: 415px;
	height: 31px;
	overflow: hidden;
	font-family: Cairo;
	font-size: 14px;
	text-align: center;
	color:#000000;
}


#img_r_16 {
	top: 805px;
	left: 242px;
	width: 80px;
	height: 100px;
}




}




